#total-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 80%;
}
#left {
    grid-column: 1/2;
    grid-row: 1/2;
}
#heading {
    grid-column: 1/3;
    grid-row: 1/2;
    align-self: start;
    text-align: center;    
    font-size: 10em;
    z-index: 1;
}
#right {
    grid-column: 2/3;
    grid-row: 1/2;  
    background-color: gray;  
}
#caption {
    align-self: end;    
    color: red;
    font-size: 4em;    
}